# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Generated content
static/generated_images/*
static/pdfs/*
!static/generated_images/.gitkeep
!static/pdfs/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log 